img{
  max-width:100%;
  height:auto;
}

.gallery{
  margin: 0 0.65rem;
  
}
.gallery-item{
  height:auto;
  margin: 0.5rem;
}
.gallery-item img{
 width:100%;
  height:100%;
  object-fit:cover;
}

@media (min-width:640px){
  .gallery{
    display:grid;
    grid-template-columns: repeat(2,1)
  }
}