/*img{
  max-width:100%;
  height:auto;
}

.gallery{
  margin-top: 15vh;
}
.gallery-item{
    display: flex;
    flex-wrap: wrap;
}
.gallery-item img{
  width:100%;
  height:auto;
  max-width:300px;
  object-fit:cover;
  margin-top: 15px;
  flex: 1 1 80px;
}

@media (min-width:640px){
  .gallery{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 300px);
    grid-auto-flow: row dense;
  }
  
  .gallery-item{
    margin:0.5rem;
  }
  
  .gallery-item: first-child{
    grid-row:span 1;
  }
  
   .gallery-item: nth-child(2){
    grid-column: 2/3;
    grid-row:span 2;
  }
   .gallery-item: nth-child(6),.gallery-item: nth-child(8){
    grid-row:span 2;
  }
}

@media (min-width:960px){
  .gallery{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto-flow);
  }
  .gallery-item: first-child,
  .gallery-item: nth-child(7),
  .gallery-item: nth-child(8){
    grid-row:span 1;
    grid-column:span 2;
  }
  .gallery-item: nth-child(2){
    grid-row:span 2;
    grid-column:span 2;
  }
}*/

.image-gallery {
  /* Mobile first */
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-item img {
  max-width:300px;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
}