.gallery-wrapper {
  min-height: var(--wrapper-height);
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 0.5rem;
}

.image-gallery {
  /* Mobile first */
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-item {
  margin: 6px;
}
.image-item img {
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .image-gallery {
    flex-direction: row;
  }
    .image-gallery {
    margin-top: 15vh;
  }
}
@media only screen and (max-width: 900px) {
  #qrBox {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 0.2s linear;
  }

}
#qrBox {
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 350px;
  width: 100%;
  z-index: 1;
}
#qrCode {
  border-radius: 25px;
  filter: drop-shadow(0 0 0.75rem);
}

*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


.text-box{
	font-size: 80px;
	font-weight: 900;
	text-align: center;
	width:100%;
}
.fixed-text{
	display: inline-block;
}
.animate-text{
	display: inline-block;
	vertical-align: top;
	height: 113px;
	overflow: hidden;
}
.animate-text div{
	animation:9s wordChange;
	animation-iteration-count: infinite;
	animation-timing-function: steps(1);
}
.animate-text span{
	position: relative;
	color: #02095a;
	display: block;
	text-align: left;

}
.animate-text span:after{
	content: "";
	position: absolute;
	left: 0;
	border-left: 5px solid #02095a;
	height: 100%;
	animation:3s textType;
	animation-iteration-count: infinite;
	animation-timing-function: steps(10);
	animation-fill-mode: backwards;
	right: -2px;
	background-color: #009090;
	overflow: hidden;
}

@keyframes textType{
	0%{
		left: 0;
	}
	50%{
		left: 100%;
	}
	100%{
		left: 0;
	}
}
@keyframes wordChange{
	0%{
		margin-top: 0;
	}
	33.333%{
		margin-top: -113px;
	}
	66.666%{
		margin-top: -226px;
	}
	100%{
		margin-top: 0;
	}
}

