/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/


/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #69F7BE;
  --color-text-main: #000000;
  --color-primary: #ffd300;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
@font-face {
  font-family: aglet-mono;
  font-weight: regular;
  src: url("https://cdn.glitch.global/5071cd64-d9ab-4d35-9f8c-a1da345381fe/Aglet_Mono_Regular.woff2?v=1657112374241")
    format("opentype");
}
/* Our remix on glitch button */
.btn--remix {
  font-family: aglet-mono;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #D0FFF1;
}

/* Navigation grid */
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}
.footer a{
  border: 3px solid;
  padding: 10px;
  margin-right:20px;
  font-family: aglet-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
}
.footer a:hover {
  background: var(--color-primary);  
  box-shadow: 3px 5px;
  font-weight: bold;
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: aglet-mono;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
  padding-top: 100px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content #bust{
  border: 3px solid;
  padding: 5px;
  margin-left:0;
  align-self: flex-start;
  box-shadow: 5px 10px;
}
.content #bust2{
  border: 3px solid;
  padding: 5px;
  margin-top:20px;
  align-self: flex-end;
  box-shadow: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#qrBtn{
  position:absolute;
  align-self: flex-start;
  margin-bottom:230px;
  margin-left:10px;
  background-image: url(https://cdn.glitch.global/5071cd64-d9ab-4d35-9f8c-a1da345381fe/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 12px 50%;
  background-color: #fff;
  padding: 0px 16px 0px 40px;
  height:50px;
  border:none;
  cursor:pointer;
}
#qrBtn:hover {
  box-shadow: 5px 5px;
  font-weight: bold;
}
#qrBtn:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}
/* Very light scaling for our illustration */
.title {
  color: #2800FF;
  font-family: aglet-mono;
  font-style: normal;
  font-weight: 900;
  font-size: 7vw;
  line-height: 105%;
  margin: 0;
}

model-viewer {
  width: 300px;
  min-width:300px;
  height: 300px;
  background-color: #b79eb1;  
  padding: 10px;
}

/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}
.imageO{
  height:300px;
  float: left;
  margin-right:10px;
}
/* Instructions */
.instructions {
  margin: 1rem auto 0;
}

/* Button - Add it from the README instructions */
button,
input {
  font-family: inherit;
  font-size: 100%;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

/* Subheading */
h2 {
  color: #2800FF;
}

/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index:1000;
}
