body {
  font-family: aglet-mono;
  background-color: var(--color-bg);
}
ul {
  background-color: var(--color-bg);
}
.sticky {
  background-color: var(--color-bg);
}
.d-flex {
  background-color: #1e1e1e;
  color: #dcdcdc;
  flex-direction: row;
  height: auto;
  padding: 5px;
  padding-top: 10px;
  border-radius: 15px;
}
.d-flex strong {
  margin-left: 20px;
}
.copy-btn {
  align-self: flex-end;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #dcdcdc;
  font-family: aglet-mono;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.d-flex pre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.code {
  align-self: flex-start;
  margin-left: -75px;
  padding: 0;
  float: left;
  width: 100%;
}
.html {
  margin: 10px;
}
.hljs-name {
  color: #569cd6;
}
.hljs-comment {
  color: gray;
}
.content {
  background-color: #1e1e1e;
  color: #dcdcdc;
  width: 95%;
  height: auto;
}

.slide {
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  white-space: initial;
}
.challenge{
  background-color: #B4FF7D;
  color:indigo;
  font-weight:900;
  padding:8px;
}
.shadow-style{
  border:3px solid; 
  border-radius:15px;
}

.a_demo_four {
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	padding-right:50px;
	border:3px solid; 
	box-shadow: inset 0px 1px 0px #808080, 0px 5px 0px 0px #808080, 0px 10px 5px #999;
}

.a_demo_four:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,51,46) 100%, rgb(101,86,78) 0%);
	box-shadow: inset 0px 1px 0px #9e8d84, 0px 2px 0px 0px #322620, 0px 5px 3px #999;
}

.a_demo_four::before {
	background-color:#322620;
	background-image:url(../images/right_arrow.png);
	background-repeat:no-repeat;
	background-position:center center;
	content:"";
	width:20px;
	height:20px;
	position:absolute;
	right:15px;
	top:50%;
	margin-top:-9px;
	border-radius: 50%;
	box-shadow: inset 0px 1px 0px #19120f, 0px 1px 0px #827066;
}

.a_demo_four:active::before {
	top:50%;
	margin-top:-12px;
	box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}