body {
  font-family: aglet-mono;
  background-color: #69e9f7;
}
ul {
    background      : radial-gradient(grey 0.5px, transparent 1px);
  background-size : 7px 7px;
  background-color: #69e9f7;
}
.sticky {

  background-color: #69e9f7;  
}
.d-flex {
  background-color: #1e1e1e;
  color: #dcdcdc;
  flex-direction: row;
  height: auto;
  padding: 5px;
  padding-top: 10px;
  border-radius: 15px;
}
.d-flex strong {
  margin-left: 20px;
}
.copy-btn {
  align-self: flex-end;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #dcdcdc;
  font-family: aglet-mono;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.d-flex pre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.code {
  align-self: flex-start;
  margin-left: -70px;
  padding: 0;
  float: left;
  width: 100%;
}
.html {
  margin: 10px;
}
.hljs-name {
  color: #f92672;
}
.hljs-comment {
  color: gray;
}
.content {
  background-color: #1e1e1e;
  color: #dcdcdc;
  width: 95%;
  height: auto;
}

.slide {
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  white-space: initial;
}
.challenge{
  color:indigo;
  font-weight:bold;
  padding:8px;
  border-radius:15px;
  border:3px solid #322620;
  background      : radial-gradient(grey 0.5px, transparent 1px);
  background-size : 5px 5px;
  background-color: #B4FF7D;
}
.shadow-style{
  border:3px solid; 
  border-radius:15px;
  background-color: #ffdd76;
  border-radius:15px;
  border:3px solid white;
  color:Black;
}
.shadow-style:hover{
  font-weight:900;
  background-color: #FFBF00;
}
