/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: #69f7be;
  --color-text-main: #000000;
  --color-primary: #ffd300;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "HK Grotesk";
  --font-family-header: "HK Grotesk";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.2s linear;
}
/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
@font-face {
  font-family: aglet-mono;
  font-weight: regular;
  src: url("https://cdn.glitch.global/5071cd64-d9ab-4d35-9f8c-a1da345381fe/Aglet_Mono_Regular.woff2?v=1657112374241")
    format("opentype");
}
/* Our remix on glitch button */
.btn--remix {
  font-family: aglet-mono;
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 2.75rem;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: auto;
}
.btn--remix img {
  margin-right: 0.5rem;
}
.btn--remix:hover {
  background-color: #d0fff1;
}

/* Navigation grid */
ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 2px;
  overflow: hidden;
  background-color: var(--color-bg);
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  margin-right: 5px;
  float: right;
  border-left: 2px solid #000000;
  font-weight: 600;
  color: black;
}

li a {
  display: block;
  padding: 8px;
  color: black;
  text-decoration: none;
}

.underAnim {
  display: inline-block;
  position: relative;
}

.underAnim:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 2.5px;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underAnim:hover:after {
  transform: scaleX(0.9);
  transform-origin: center;
}

li:last-child {
  padding-right: 4px;
  border-right: 2px solid #000000;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  width: 100%;
  flex-wrap: wrap;
  border-top: 4px solid #fff;
}
.footer a {
  border: 3px solid;
  padding: 10px;
  margin-right: 20px;
  font-family: aglet-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #000;
  text-decoration: none;
}
.footer a:hover {
  background: var(--color-primary);
  box-shadow: 3px 5px;
  font-weight: bold;
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}
/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: aglet-mono;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 1rem;
}

model-viewer {
  width: 100%;
  height: 300px;
  background-color: #b79eb1;
  padding: 10px;
}

#mViewer {
  max-width: 300px;
  max-height: var(--image-max-width);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
#qrBtn {
  position: absolute;
  align-self: flex-start;
  margin-bottom: 230px;
  margin-left: 10px;
  background-image: url(https://cdn.glitch.global/5071cd64-d9ab-4d35-9f8c-a1da345381fe/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 12px 50%;
  background-color: #fff;
  padding: 0px 16px 0px 40px;
  height: 50px;
  border: none;
  cursor: pointer;
}
#qrBtn:hover {
  box-shadow: 5px 5px;
  font-weight: bold;
}
#qrBtn:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

#qrCode {
  border-radius: 25px;
}
/* Very light scaling for our illustration */
.title {
  color: #2800ff;
  font-family: aglet-mono;
  font-style: normal;
  font-weight: 900;
  line-height: 105%;
  padding: 5px;
}
/* Very light scaling for our illustration */
.illustration {
  max-width: 100%;
  border: 3px solid;
  padding: 5px;
  box-shadow: 5px 5px;
  border-radius: 5px;
}
/* Interactive image */
.illustration:active {
  transform: translateY(5px);
}

.imageO {
  height: 300px;
  float: left;
  margin-right: 10px;
}

/* Instructions */
.instructions {
  margin: 1rem auto 0;
}
.instructions a {
  color: magenta;
}
/* Subheading */
h2 {
  color: #2800ff;
}

.blink {
  font-size: 0.8em;
  animation: fadeIn infinite 3s;
  animation-fill-mode: forwards;
  visibility: hidden;
  color:orange;
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#comingS {
  margin-top: 9%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#comingS img {
  width: 55vh;
  height: 55vh;
}
#comingS h2 {
  font-size: 3em;
}
path {
  z-index:10000;
  fill: none;
  stroke-width: 4px;
  stroke-linejoin: round;
}
#spline{
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
  filter: drop-shadow(0 0 0.75rem);
}
#spline-bot{
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
  filter: drop-shadow(0 0 0.75rem);
}

.d-flex{
  background-color:#1E1E1E;
  color:#DCDCDC;
  flex-direction: row;
  height:auto;
  padding: 5px;
  padding-top:10px;
  border-radius: 15px;
}
.d-flex strong{
  margin-left:20px;
}
.copy-btn{
  align-self: flex-end;
  float:right;
  margin-right:20px;
  margin-bottom:20px;
  color:#DCDCDC;
  font-family: aglet-mono;
  border:none;
  cursor:pointer;
  background-color:transparent;
}
.d-flex pre{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin:0;
  width:100%;
  margin:0;
  padding:0;
}
.code{
  align-self:flex-start;
  margin-left:-80px;
  padding:0;
  float:left;
  width:100%;
}
 .hljs-name {
    color: #569CD6;
}

.content{
  background-color:#1E1E1E;
  color:#DCDCDC;
  width:95%;
  height:auto;
  font-family: aglet-mono;
}

.slide {
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
  white-space: initial;
}